.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .chart-container {
    max-width: 25%;
    margin: 20px auto;
  }
  
  .statistic {
    font-size: 20px;
    margin: 10px 0;
  }
  