<div>
    <h2>Sign Up</h2>
    <form (submit)="handleSubmit()" class="sign-up-form">
      <input
        type="text"
        name="username"
        [(ngModel)]="formData.username"
        (change)="handleChange($event)"
        placeholder="Username"
        required
      />
      <input
        type="email"
        name="email"
        [(ngModel)]="formData.email"
        (change)="handleChange($event)"
        placeholder="Email"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="formData.password"
        (change)="handleChange($event)"
        placeholder="Password"
        required
      />
      <div *ngIf="serverMessage" class="server-message">{{ serverMessage }}</div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  